@font-face {
    font-family: SuisseIntMonoReg;
    src: url(/weather-dashboard/assets/SuisseIntlMono-Regular-WebS.woff);
    src: url(/assets/SuisseIntlMono-Regular-WebS.woff);
  }
  

html, body {
    margin: 0;
    font-family: SuisseIntMonoReg, sans-serif;
    /* background-color:whitesmoke; */
}

header{
    background-color:darkslategray;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    padding-left: 22px;
    z-index: 99;
}


h1{
    color: white;
}

h2{
    text-transform: uppercase;
    font-size: 200%;
    margin: 0px; 
}

h3{
    text-transform: uppercase;
    font-size: 120%;
    margin: 0px; 
    padding-bottom: 10px;
}

h4{
    text-transform: uppercase;
    font-size: 90%;
    margin: 0px;
}

.grid-container{
    display: grid;
    height: calc(100vh - 100px);
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    color:darkslategray;
    box-shadow: -5px -2px 4px -1px rgb(24, 48, 48);
    /* z-index: -1; */
}

#searchCard{
    display: flex;
    flex-direction: column;
    grid-row: 1 / span 2;
    padding: 20px;
    background-color: rgb(194, 219, 219);
    z-index: 1;
}

#inputSearchContainer{
    display: flex;
    flex-direction: column;
}

#inpsutSearchContainer input,
#inputSearchContainer button{
    font-family: SuisseIntMonoReg, sans-serif !important;
    width: 100%;
}

input,
::placeholder{
    color: darkslategray;
    font-family: SuisseIntMonoReg, sans-serif !important;
    text-transform: none;
}

label{
    padding-top: 20px;
}
button,
input{
    margin: 5px 0px;
    padding: 10px 10px;
    outline: none;
    border: 1.5px solid darkslategray;
    /* border-radius: 5px; */
    text-transform: uppercase;
}

button{
    background-color:darkslategray;
    color: whitesmoke;
    width: 50%;
}
button:hover{
    opacity: 75%;
}

hr{
    width: 100%;
    color: black;
    border: none;
    border-top: solid 1.5px darkslategray;
    margin: 20px 0px 10px;
}

#searchHistory{
    grid-column: 1;
}

#resultsCard{
    padding: 20px;
    grid-column: 2;
    grid-row: 1;
}

#cityDateBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#forecast{
    padding: 20px;
    grid-column: 2;
}

#forecast-grid-container{
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 1em;
}

.forecast-grid-item{
    color: white;
    background-color: darkslategray;
    padding: 15px;
}

p{
    font-size: 14px;
}

#searchHistory button{
    display: block;
    width: 100%;
    font-family: SuisseIntMonoReg, sans-serif !important;
}

#uvIndex > span{
    margin: 0px 2px;
    padding: 0px 6px 5px 6px;
    border-radius: 15px;
}